{#include base title='Log in'}

{#body}

{#if user}
	<a href="/books"><button>Books</button></a>
	<span>Logged in as <b>{user.username}</b></span>
{/if}

<h1>Log In or Sign Up</h1>

{#if formError}
	<span class="red">{formError}</span>
{/if}

<form method="POST">
	<input type="text" name="username" placeholder="Username"><br>
	<input type="password" name="password" placeholder="Password"><br>
	<input class="green" type="submit" formaction="/login" value="Log in">
	<input class="blue" type="submit" formaction="/signup" value="Sign up">
</form>
{/body}

{/include}
